.hand {
  &__wrapper {
    display: flex;
    margin-bottom: 10px;
  }

  &__image {
    height: 200px;
    margin: 5px;
  }

  &__score {
    margin-bottom: 0px;
    &--green {
      color: green;
    }

    &--red {
      color: red;
    }
  }
}
