.btn{
    box-shadow:none;
    background-color: lightgreen;
    margin: 5px 10px;
    font-size: 1.6rem;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    min-width: 100px;
    &--secondary{
        background-color: #90ee9033;
        border: 3px solid #90ee90;
    }
}