.player__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid black;
  background-color: #33333333;
  margin: 0 10px;
}
