.page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.players-wrapper {
  display: flex;
  justify-content: space-evenly;
}
